#logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  font-size: 1.5rem;
}

.headers {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Landing page background image */
.landingTop {
  height: 650px;
  width: 100%;
  background-image: url("../images/landing-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.listItems:hover,
.nav-link:hover {
  text-decoration: none !important;
  background-color: none !important;
  text-decoration-color: none !important;
}

.landingSectionTwo {
  height: 800px;
  width: 100%;
  margin: 0;
  background-color: burlywood;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centered button on landing page */
.learnMore {
  background-color: rgba(0, 0, 0, 0.65);
  color: whitesmoke !important;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200 !important;
  transition: all 0.2s ease-in-out;
}
.learnMore:hover {
  transform: scale(1.1);
}

/* Centered button on landing page other color  */
.more {
  color: #5bc0de !important;
}

.dropdown-toggle {
  margin-top: 2px !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* div.navtoggler {
  z-index: 1000 !important;
} */

a:hover {
  text-decoration: none;
}

#nprogress .bar {
  height: 6px !important;
}

/* Muted text labels in manage categories and tags page */
.catsTags {
  font-size: 1.2rem;
}

.navbar {
  background-color: black !important;
  color: whitesmoke !important;
}
/* 
Media queries needed to prevent buttons from elongating in collapsible menu */
/* .authBtns {
  background-color: #383838;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
  padding: auto 1px;
} */

/* .authBtns {
  background-color: #5bc0de !important;
  outline: none !important;
  text-decoration: none !important;
} */

.navItems {
  color: whitesmoke !important;
  cursor: pointer !important;
}

/* Menu items in collapsible menu */
.listItems {
  color: black !important;
}

.landingAuth {
  color: whitesmoke !important;
}

.dropdown-menu {
  background-color: #5bc0de !important;
  color: whitesmoke !important;
}

span.navbar-toggler-icon {
  /* color: whitesmoke !important; */
  background-color: whitesmoke !important;
  padding: 1rem;
  border-radius: 5px;
}

.ql-editor {
  min-height: 300px;
}
