#logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
}

.headers {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a:hover {
  text-decoration: none;
}

#nprogress .bar {
  height: 6px !important;
}

/* Muted text labels in manage categories and tags page */
.catsTags {
  font-size: 1.2rem;
}

.navbar {
  background-color: black !important;
  color: whitesmoke !important;
}
/* 
Media queries needed to prevent buttons from elongating in collapsible menu */
/* .authBtns {
  background-color: #383838;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
  padding: auto 1px;
} */

/* .authBtns {
  background-color: #00bfff !important;
  outline: none !important;
  text-decoration: none !important;
} */

.navItems {
  color: whitesmoke !important;
  cursor: pointer !important;
}

span.navbar-toggler-icon {
  /* color: whitesmoke !important; */
  background-color: whitesmoke !important;
  padding: 1rem;
  border-radius: 5px;
}

.ql-editor {
  min-height: 300px;
}
